version: '3'
services:
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    volumes:
      - ./frontend/src:/var/www/html/
    stdin_open: true
    tty: true

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/src:/var/www/html/
    stdin_open: true
    tty: true